{% load static %}
{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Login</title>
    <style>
        body {
            background: radial-gradient(56.06% 56.06% at 50% 50%, rgba(226, 238, 243, 0) 0%, #C1D4DE 100%);
            mix-blend-mode: normal;
            background-attachment: fixed;
            font-family: JuraBold;
        }
    </style>

</head>
<body >
    <div class="form-content my-3 p-3 mt-10 mb-1"style="top:30%; ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card  border-0 rounded-lg mt-5 mb-10" style="border-radius: 1rem;background: linear-gradient(236.18deg, #16304B 16.12%, rgba(22, 48, 75, 0.58) 93.17%);
box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
border-radius: 5px;">
                        <div class=" justify-content-center">
                            <div id="error_div"></div>
                          <h3 class="font-weight-light my-4 text-center mt-5 mb-10"style="color: white">Forgot Password?</h3>
                        </div>
                        {% if form.errors %}
                            <div  role="alert">
                                <div id="form_errors">
                                    {% for key, value in form.errors.items %}
                                        <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">

                                </button>
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                    <div class="form-group">
                                        <input type="email" name="email"  class="form-control"
                                               autocomplete="email" maxlength="254" required id="id_email"
                                               placeholder="Enter email">
                                    </div>
                                </div>
                            </div>
                                                       <div class=" text-center">
                            <div >

                            <p class="text-center mt-5 mb-0" style="color: white">Don"t have an account? <a
                                    href="{% url 'accounts:registerpage' %}" class="fw-bold text-body"><i
                                    style="color: cornflowerblue">Sign
                                up.</i></a></p>
                                <a href="{% url 'accounts:loginpage' %}">Back To Login</a><br>
                            </div>
                        </div>



                                <div class="form-row">




                                  <div class="col-md-10 offset-md-1">
                                    <div class="form-group mt-0 mb-5">
                                        <button type="submit" class="col-md-12 btn btn-dark" style="position:absolute;top:110%;background: rgba(0, 15, 46, 0.8);
border-radius: 5px;width:400px;height:60px; font-size: 30px;">
                                            Reset Password
                                        </button>
                                    </div>
                                 </div>
                               </div>
                            </form>
                        </div>

                </div>
            </div>
        </div>

  </div>
</body>
{% endblock content %}