        .up_pan_buttons {
            width: 235px;
            height: 66px;
            background: #000F2E;
            border-radius: 10px;
            font-family: 'JuraBold';
            font-size: 36px;
            color: #FFFFFF;
            margin-top: 23px;
            justify-content:center;
            position: relative;

        }
        .up_pan_buttons:hover{
            background-color: #000F2E;
            opacity: 0.8;

        }
        .up_pan_buttons:hover .up_pan_buttons_text {
            color: #FFFFFF;
        }
        .over_title{
               font-family: 'JuraBold';
            font-size: 32px;
            color: #FFFFFF;
            /*text-align: center;
            text-align-all: center;*/
            /*margin-top: 23px;*/
            justify-content:center;
            opacity: 0.8;
            display: flex;
            align-items: center;
        }
        .over_title_random {
            font-family: 'JuraBold';
            font-size: 26px;
            color: #FFFFFF;
            justify-content: center;
            opacity: 0.8;
            display: flex;
            align-items: center;
        }
        .over_grid{
            height: 58px;
            width: 440px;
            position: relative;
            top: -29px;
            left: 32px;
            border-radius: 5px;
            }
        .over_grid_random{
            height: 58px;
            width: 330px;
            position: relative;
            top: -29px;
            left: 110px;
            border-radius: 5px;
            }
        .main_grid{
            margin-top:200px;
            display: grid;
            margin-left: 61px;
            margin-right: 61px;
            column-gap: 70px;
            row-gap: 60px;
            grid-template-columns: 2fr 1fr;


        }
        .sige_paste{
            background: linear-gradient(122.97deg, #16304B 5%, rgba(22, 48, 75, 0.76) 97.11%);
            border-radius: 10px;
        }
        .title_area{
            opacity: 0.5;
        }
        .text_area{
            border: #000F2E 1px;
            border-radius: 10px;


            padding-left: 20px;

        }
        .settings_area{
            border: #000F2E 50px;
            height: 664px;
            border-radius: 10px;
        }
        .up_button_text{
            justify-content: center;
            display: flex;
            align-items: center;
        }
        .up_pan_menu_label{
            margin-top: 34px;
        }
        .header_random_title{
            color: white;
            text-decoration: none;

        }
        .header_random_title:hover{
            text-decoration-line: underline;
        }

        select {
          /* styling */
          background-color: white;
          border: 1px solid rgba(0, 15, 46, 0.5);
            border-radius: 5px;
          display: inline-block;
            width: 516.59px;
            height: 54px;
          font-family: 'JuraBold';
            font-size: 26px;
          padding: 0em 3.5em 0em 1em;

          /* reset */

          margin: 0;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-appearance: none;
          -moz-appearance: none;
        }
        select {
         background: url('data:image/svg+xml;utf8,<svg  width="8" height="5" viewBox="0 0 8 5" fill="black" xmlns="http://www.w3.org/2000/svg"><path d="M0.94 0L4 3.09042L7.06 0L8 0.951417L4 5L0 0.951417L0.94 0Z" fill="black"/></svg>');
          background-position:
            calc(100% - 20px) calc(1em - 8px),
            calc(100% - 15px) calc(1em + 2px),
            calc(100% - 2.5em) 0.5em;


          background-size:
            20px 20px,
            20px 20px,
            1px 1.5em;
          background-repeat: no-repeat;
        }

        select:focus {
             background: url('data:image/svg+xml;utf8,<svg style="transform: rotate(180deg);" width="8" height="5" viewBox="0 0 8 5" fill="black" xmlns="http://www.w3.org/2000/svg"><path d="M0.94 0L4 3.09042L7.06 0L8 0.951417L4 5L0 0.951417L0.94 0Z" fill="black"/></svg>');
          background-position:
            calc(100% - 20px) calc(1em - 8px),
            calc(100% - 15px) calc(1em + 2px),
            calc(100% - 2.5em) 0.5em;


          background-size:
            20px 20px,
            20px 20px,
            1px 1.5em;
          background-repeat: no-repeat;

          outline: 0;
        }
        .baseLabel{
                font-family: 'JuraBold';
                font-style: normal;
                font-weight: 700;
                font-size: 28px;
                line-height: 38px;
                /* identical to box height */


                color: #000F2E;
        }
        .baseInput{
            box-sizing: border-box;
            font-family: 'JuraBold';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 34px;

            width: 516.59px;
            height: 54px;
            background: #FFFFFF;
            border: 1px solid rgba(0, 15, 46, 0.5);
            border-radius: 5px;
            padding-left: 20px;

        }
        .baseInput:focus{
            outline: 0;
        }
        .labelInputDiv{
            display: grid;
             grid-template-columns: 2fr 3fr;
              margin-top: 20px;
            margin-left: 76px;
        }
        .checkInput{
            height: 30px;
            width: 30px;
            float: left;
            accent-color :#000F2E;
        }
        .sendBtn{
            margin:0 auto;
            display:block;
            margin-top: 100px;

            width: 400px;

        }
        .nav-colored { background-color:rgba(255, 255, 255, 0.8);  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

        .nav-transparent { background-color:transparent;}